vendor/etc/camera/vidhance.lic
product/priv-app/VzwMyVerizon-v21.2.3-513/VzwMyVerizon-v21.2.3-513.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/Messages/Messages.apk
product/priv-app/VelvetForCircleToSearch/VelvetForCircleToSearch.apk
product/priv-app/MotCamera5/MotCamera5.apk
product/priv-app/VzwSecurityPrivacy-v7-8-5-17/VzwSecurityPrivacy-v7-8-5-17.apk
product/priv-app/MotoDesktop/MotoDesktop.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/GoogleHome/GoogleHome.apk
product/app/Maps/Maps.apk
product/app/Gmail2/Gmail2.apk
product/app/YouTube/YouTube.apk
product/app/TFDashboard/TFDashboard.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Photos/Photos.apk
system_ext/priv-app/SettingsMoto/SettingsMoto.apk
system_ext/lib64/libshowlogo.so
fs_config_dirs
fs_config_files
